<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></head><body><div class="checked-in">
  <div class="content">
    <div class="details">
      <div class="check-img"></div>
      <p class="first2">Thanks, you've checked in at</p>
      <h2 ng-bind-html="$ctrl.location | unsafe"></h2>
      <div class="box">
  <div class="tophalf">
<button type="button" class="certbutton btn-block" onclick="document.location='cert.html'"></button>
    <img src="thing22.gif" class="tick2" />
    <div class="cov-dig">
      <div class="cov-dig-large"><p class="first">{{ $ctrl.first }}</p></div>
</div>
    </div>
  </div>
</div>
</div>
  <p class="p2"></p>
  <div class="btns">
    <button type="button" class="btn btn-block btn-primary" ng-click="$ctrl.goBack()">Done</button>
  </div>
</div>
</body></html>
